header {
    display: flex;
    width: 100vw;
    height: 10vh;
    background: rgba(13,13,13, 0.5);
    align-items: center;
    margin: 0;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.01);
}

main {
    display: flex;
    color: whitesmoke;
    margin-top: 2vh;

    .title {
        font-size: x-large;
    }
}